*.la
*.lo
*.o
.deps/
.libs/
/ABOUT-NLS
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4/
/missing
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-it
/src/config.h
/src/config.h.in
/src/ddccontrol/ddccontrol
/src/ddcpci/ddcpci
/src/gddccontrol/gddccontrol
/src/gddccontrol/gddccontrol.desktop
/src/lib/ddccontrol.pc
/src/stamp-h1
Makefile
Makefile.in
