Source: ddccontrol-db
Section: utils
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Homepage: http://ddccontrol.sourceforge.net/
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: autotools-dev, intltool
Standards-Version: 3.7.3
Vcs-Browser: http://ddccontrol.svn.sourceforge.net/viewvc/ddccontrol/
Vcs-Svn: https://ddccontrol.svn.sourceforge.net/svnroot/ddccontrol

Package: ddccontrol-db
Architecture: all
Depends: 
Recommends: ddccontrol [i386 amd64 ia64 alpha arm armel]
Description: monitor database for ddccontrol
 Database of monitors used by ddccontrol.  This is mostly useless without
 ddccontrol.
