Source: ddccontrol
Section: utils
Priority: optional
Maintainer: Roberto C. Sanchez <roberto@connexer.com>
Homepage: http://ddccontrol.sourceforge.net/
Build-Depends: debhelper (>= 5), autotools-dev, pciutils-dev, libpanel-applet2-dev, intltool, libxml2-dev, xml-core, xsltproc, tidy, zlib1g-dev
Standards-Version: 3.7.2
Vcs-Browser: http://ddccontrol.svn.sourceforge.net/viewvc/ddccontrol/
Vcs-Svn: https://ddccontrol.svn.sourceforge.net/svnroot/ddccontrol

Package: gddccontrol
Architecture: i386 amd64 ia64 alpha arm
Depends: ddccontrol (= ${Source-Version}), ${shlibs:Depends}, ${misc:Depends}
Description: a program to control monitor parameters
 DDCcontrol is a tool used to control monitor parameters, like brightness
 and contrast, without using the OSD (On Screen Display) and the buttons
 in front of the monitor.  This package includes a GNOME-based GUI.

Package: ddccontrol
Architecture: i386 amd64 ia64 alpha arm
Depends: ddccontrol-db (>= 20060308), ${shlibs:Depends}, ${misc:Depends}
Description: a program to control monitor parameters
 DDCcontrol is a tool used to control monitor parameters, like brightness
 and contrast, without using the OSD (On Screen Display) and the buttons
 in front of the monitor.

Package: libddccontrol-dev
Section: libdevel
Architecture: i386 amd64 ia64 alpha arm
Depends: libddccontrol0 (= ${Source-Version})
Description: development library for ddccontrol
 Header files and static library for compiling against libddccontrol.

Package: libddccontrol0
Section: libs
Architecture: i386 amd64 ia64 alpha arm
Depends: ${shlibs:Depends}
Description: shared library for ddccontrol
 Shared library for use by ddccontrol.

